@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary: #e7692a;
}
body {
  height: 70vh;
  width: 100%;
  background: var(--primary);
}
.main-div {
  margin: 100px auto;
  max-width: 600px;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  padding: 25px;
}
.main-div header {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.main-div .inputField {
  display: flex;
  height: 45px;
  width: 100%;
  margin: 20px 0;
}

.inputField input {
  width: 85%;
  height: 100%;
  border: 1px solid #ccc;
  font-size: 17px;
  border-radius: 3px;
  padding-left: 15px;
}
.inputField button {
  width: 60px;
  height: 100%;
  border: none;
  outline: none;
  color: #fff;
  background: #1cc7e6;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 5px;
  opacity: 0.5;
  pointer-events: none;
}
.inputField button.active {
  opacity: 1;
  pointer-events: auto;
}
.main-div .todoList {
  max-height: 250px;
  overflow-y: auto;
}
.todoList li {
  list-style: none;
  height: 45px;
  line-height: 45px;
  position: relative;
  background: #f2f2f2;
  border-radius: 3px;
  margin-bottom: 8px;
  padding: 0 15px;
  cursor: default;
  overflow: hidden;
}
.todoList li span {
  position: absolute;
  right: -45px;
  width: 45px;
  color: #fff;
  background: #e74c3c;
  text-align: center;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  transition: all 0.3s ease;
}
.todoList li:hover span {
  right: 0px;
}
.main-div .footer-div {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 25px;
  justify-content: space-between;
}
.footer-div button {
  border: none;
  outline: none;
  color: #fff;
  background: #1cc7e6;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 5px;
  padding: 6px 10px;
  opacity: 0.5;
  pointer-events: none;
}
.footer-div button.active {
  opacity: 1;
  pointer-events: auto;
}
